@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.marquee-wrapper {
  overflow: hidden;
  width: 100%;
}

.marquee-content {
  display: flex;
  width: fit-content;
  animation: marquee 8s linear infinite;
}
.stroke-text-red {
  -webkit-text-stroke: 1.5px #9C0000; /* Red border */
  color: transparent; /* inside transparent */
}
@layer utilities {
  .font-body {
    font-weight: 600;
  }
}